{layout name="layout" /}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><input type="text" value="{$title}" /></h6>
    </div>
    <div class="card-body" style="height:40em;">
        <div id="test-editor">
            <textarea style="display:none;">
            </textarea>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        var editor = editormd("test-editor", {
            //width  : "80%",
            //height : "50%",
            path   : "__STATIC__/editormd/lib/"
        });
    });
</script>