<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Personal Portfolio Html5 One Page Template">
    <meta name="keywords" content="agency, bootstrap, business, corporate, creative, landing page, marketing, multipurpose, product, product launch, responsive, software, startup, startup landing page">
    <meta name="author" content="ParExcellence">
    <!-- Site Title -->
    <title>Jz's Blog</title>
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <!-- Material Icon -->
    <link rel="stylesheet" href="__CSS__/materialdesignicons.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="__CSS__/magnific-popup.css" />
    <!-- Carousel Slider -->
    <link rel="stylesheet" href="__CSS__/owl.carousel.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap" rel="stylesheet">
    <!-- Custom  CSS -->
    <link rel="stylesheet" href="__CSS__/style.css">
</head>

<body>
    <!-- Start Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- End preloader -->

    <div id="main-wrapper">
        <!-- Start Navbar -->
        <div class="menu-toggler">
            <span>
                <i class="mdi mdi-menu"></i>
            </span>
        </div>
        <header>
            <div class="header-navbar h-100">
                <a class="navbar-brand" href="#"><b>J</b><span>Jz's Blog</span></a>
                <nav class="navbar menu-list">
                    <ul class="list-group text-center" id="menu">
                        <li class="list-group-item">
                            <a class="active" href="#home">
                                <span class="menu-icon mx-auto"><i class="mdi mdi-home-outline"></i></span>
                                <span>home</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#aboutus">
                                <span class="menu-icon mx-auto"><i class="mdi mdi-book-outline"></i></span>
                                <span>Articles</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#portfolio">
                                <span class="menu-icon mx-auto"><i class="mdi mdi-grid-large"></i></span>
                                <span>Portfolio</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </header>
        <!-- End Navbar -->
        <!-- Start Home -->
        <section class="home-bg section active" id="home">
            <div id="particles-js">
            </div>
            <div class="section-area">
                <div class="section-content">
                    <div class="hero-text-area">
                        <div class="welcome-area">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="hero-text text-center">
                                            <div class="wel-txt">Hello</div>
                                            <h1>I Am&nbsp;<span class="typed"></span></h1>
                                        </div>
                                        <ul class="informative-txt d-flex justify-content-center align-items-center">
                                            <li>PHP</li>
                                            <li><i class="mdi mdi-circle mdi-10px ml-3 mr-3"></i></li>
                                            <li>Golang</li>
                                            <li><i class="mdi mdi-circle mdi-10px ml-3 mr-3"></i></li>
                                            <li>Algorithm</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Home -->
        <!-- Start About-Us -->
        <section class="section bg-light line-vector" id="aboutus">
            <div class="section-area">
                <div class="section-content">
                    <div class="container">                       
                        <div class="title-block mx-auto mb-5">
                            <div class="section_title mb-4 text-center">
                                <h2><span>Articles</span></h2>
                            </div>
                        </div>
                        {for start="1" end="10"}
                        <div class="row mt-2">
                            <!-- Item 01 -->
                            <div class="col">
                                <a href="article.html"><p class="text-center">article seo</p></a>
                            </div>
                        </div> 
                        {/for}
                    </div>
                </div>
            </div>
        </section>
        <!-- End About-Us -->
        <!-- Start Portfolio -->
        <section id="portfolio" class="section portfolio-section">
            <div class="section-area">
                <div class="section-content">
                    <div class="container">
                        <div class="title-block mx-auto">
                            <div class="section_title mb-4 text-center">
                                <h2><span>Articles</span></h2>
                            </div>
                        </div>
                        {for start="1" end="10"}
                        <div class="row">
                            <!-- Item 01 -->
                            <div class="col">
                                <p class="text-center">article seo</p>
                            </div>
                        </div> 
                        {/for}
                    </div>
                </div>
            </div>
        </section>
        <!--  End Portfolio -->
    </div>
    <!-- Javascript -->
    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/popper.min.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/jquery.easing.min.js"></script>
    <script src="__JS__/jquery.waypoints.min.js"></script>
    <script src="__JS__/owl.carousel.min.js"></script>
    <script src="__JS__/jquery.counterup.js"></script>
    <script src="__JS__/isotope.pkgd.min.js"></script>
    <script src="__JS__/jquery.magnific-popup.min.js"></script>
    <script src="__JS__/particles.js"></script>
    <script src="__JS__/typed.min.js"></script>
    <!-- Main Js   -->
    <script src="__JS__/main.js"></script>
</body>

</html>
